{% extends 'base.html' %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="jumbotron">
        <h2>使用文档</h2>
        <h3>概述</h3>
        <p>本系统是基于Django 2.2.3开发的，面向中职、高等院校的学生信息管理系统。</p>
        <p>系统以学生个体为核心向外拓展诸如宿舍、班级、学生组织等一系列组，诸如请假、签到、通知发布等一系列应用。</p>
        <p>计划内实现功能有：班级、学生、宿舍三大项为基础的信息管理系统，早检、晨跑、卫检及相应结果查询系统，通知按组发布、公告发布为主的信息发布平台，
          课表查询、成绩查询、校园卡流水查询、竞赛通知查询、竞赛组队、图书馆借阅查询、考试安排查询、校内信息发布等一系列功能的整合的学生端应用。
        </p>
        <p>现已初步完成班级、学生、宿舍三大基础模型的搭建、学生事件记录、晨跑统计及查询系统。</p>
        <h3>注意事项</h3>
        <p>由于系统以学生、班级、宿舍三大模型为基础，使用系统时应当先对信息进行导入操作，确保导入成功后再进行其他操作。</p>
        <p>导入时建议先将班级、宿舍信息导入并确认无误后在对学生信息进行导入。</p>
      </div>

    </div>
  </div>
</div>

<script>
  $('#help').addClass('active');
</script>

{% endblock main %}