{% extends 'infosys/inquir/navbar.html' %}
{% block content %}
<div class="container padding-top">


  <div class="panel panel-default">
    <!-- Default panel contents -->

    <div class="panel-heading">

      <form action="." method="GET">

        <div class="row">
          <!-- <div class="col-xs-2">
            <select class="form-control form-control-sm" name="class_id" required id="id_class_id">
              <option value="">---------年级---------</option>
              <option value="{{ class.class_id }}">{{ class.class_name }}</option>
            </select>
          </div>
          <div class="col-xs-2">
            <select class=" form-control form-control-sm" name="class_id" required id="id_class_id">
              <option value="">---------专业---------</option>
              <option value="{{ class.class_id }}">{{ class.class_name }}</option>
            </select>
          </div> -->
          <div class="col-xs-3 col-xs-offset-5">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" name="search" placeholder="姓名/学号/QQ/手机/家庭住址">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">搜索</button>
              </span>
            </div>
          </div>
        </div>
      </form>


    </div>

    <!-- Table -->
    <table class="table table-hover">
        {% block listhead %}
        {% endblock listhead %}
        {% block listcontent %}
        {% endblock listcontent %}
        {% block script %}
        {% endblock script %}
    </table>
  </div>
</div>

{% endblock content %}